/* Post Page */
.post {
	margin: 80px 0 0 0;
}

.post {
	header {
		text-align:center;
	
	}
	h1 {
		margin-bottom: 40px;
		color: #222;
		font: 300 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
	}
	
	h2 {
		margin-bottom: 40px;
        font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #111;
	}
	
	h2.subtitle {
		font: italic 19px/1.3em Georgia,serif;
		color: #bbb;
	}
	
	.headline {
		/*font: italic 22px/1.3em Georgia,serif;*/
		font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
		margin: -5px 0 40px 0;
		color: #b2b9be;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
        /*margin-top: 15px;*/
        display: inline-block;
	}
}

#post-meta {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    color:#444;
    border-bottom: 1px solid #eee;
}

#post-meta div span {
	color: #aaa;
	font-weight: 500;
	display: block;
}

#post-meta div span.dark {
	color: #1E2025;
}

#post-meta div {
	margin: 0 25px 0 0;
	float: left;
}
#post-meta img.avatar {
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 20px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

#sharing {
	float: right;
	margin: -2px;
}

#sharing a {
	font-size: 20px;
	font-size: 23px;
	margin-left: 1px;
	margin-top: 4px;
	color: #d4d4d4;
	display: inline-block;
	vertical-align: middle;
}

#sharing a:hover {
	/*color: #444;*/
	opacity: 0.8;
}

/* Post Navigation */
#post-nav {
	text-align:center;
	font-size:13px;
	font-weight:500;
	margin-top: 20px;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}
